
.idea/encodings.xml

.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/scopem-public.iml

.idea/vcs.xml

.idea/workspace.xml
code/ppms/detailed-list.csv
code/ppms/detailed-list-2017.csv
code/ppms/detailed-list-2018.csv
teaching/FIJI/#workflows.org#
teaching/FIJI/.#workflows.org
